[submodule "molokai_dark"]
	path = molokai_dark
	url = https://github.com/fcevado/molokai_dark.git
[submodule "colorful256.vim"]
	path = colorful256.vim
	url = https://github.com/vim-scripts/colorful256.vim.git
[submodule "vim-cgpro"]
	path = vim-cgpro
	url = https://github.com/reinecke/vim-cgpro.git
[submodule "burnttoast256"]
	path = burnttoast256
	url = https://github.com/vim-scripts/burnttoast256.git
[submodule "vim-buddy"]
	path = vim-buddy
	url = https://github.com/DrSpatula/vim-buddy.git
[submodule "blacklight"]
	path = blacklight
	url = https://github.com/vim-scripts/blacklight.git
[submodule "vim-colors-behelit"]
	path = vim-colors-behelit
	url = https://github.com/atweiden/vim-colors-behelit.git
[submodule "vim-atom-dark"]
	path = vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "vim-material-theme"]
	path = vim-material-theme
	url = https://github.com/jdkanani/vim-material-theme.git
